* {
    box-sizing: border-box;
    padding:0;
}

body {
    width:250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tx-label {
    font-weight: 600;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
}

.tx-options {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}